In [34]:
import pandas as pd
import numpy as np
exam = pd.read_csv('data/exam.csv')
exam.head()

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58
4   5       2    25       80       65

In [6]:
exam.head(10)

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58
4   5       2    25       80       65
5   6       2    50       89       98
6   7       2    80       90       45
7   8       2    90       78       25
8   9       3    20       98       15
9  10       3    50       98       45

In [7]:
exam.tail()

    id  nclass  math  english  science
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [8]:
exam.tail(10)

    id  nclass  math  english  science
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [10]:
exam.shape

(20, 5)

In [11]:
exam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       20 non-null     int64
 1   nclass   20 non-null     int64
 2   math     20 non-null     int64
 3   english  20 non-null     int64
 4   science  20 non-null     int64
dtypes: int64(5)
memory usage: 928.0 bytes

In [13]:
exam.describe()

             id     nclass       math    english    science
count  20.00000  20.000000  20.000000  20.000000  20.000000
mean   10.50000   3.000000  57.450000  84.900000  59.450000
std     5.91608   1.450953  20.299015  12.875517  25.292968
min     1.00000   1.000000  20.000000  56.000000  12.000000
25%     5.75000   2.000000  45.750000  78.000000  45.000000
50%    10.50000   3.000000  54.000000  86.500000  62.500000
75%    15.25000   4.000000  75.750000  98.000000  78.000000
max    20.00000   5.000000  90.000000  98.000000  98.000000

In [15]:
midwest = pd.read_csv('data/midwest.csv')
midwest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PID                   437 non-null    int64
 1   county                437 non-null    object
 2   state                 437 non-null    object
 3   area                  437 non-null    float64
 4   poptotal              437 non-null    int64
 5   popdensity            437 non-null    float64
 6   popwhite              437 non-null    int64
 7   popblack              437 non-null    int64
 8   popamerindian         437 non-null    int64
 9   popasian              437 non-null    int64
 10  popother              437 non-null    int64
 11  percwhite             437 non-null    float64
 12  percblack             437 non-null    float64
 13  percamerindan         437 non-null    float64
 14  percasian             437 non-null    float64
 15  percother             437 non-null    float64
 16  popadults             437 non-null    int64
 17  perchsd               437 non-null    float64
 18  percollege            437 non-null    float64
 19  percprof              437 non-null    float64
 20  poppovertyknown       437 non-null    int64
 21  percpovertyknown      437 non-null    float64
 22  percbelowpoverty      437 non-null    float64
 23  percchildbelowpovert  437 non-null    float64
 24  percadultpoverty      437 non-null    float64
 25  percelderlypoverty    437 non-null    float64
 26  inmetro               437 non-null    int64
 27  category              437 non-null    object
dtypes: float64(15), int64(10), object(3)
memory usage: 95.7+ KB

In [25]:
midwest_new = midwest.copy()
midwest_new = midwest.rename(columns = {'poptotal' : 'total', 'popasian' : 'asian'})

In [31]:
midwest_new['asian_rate'] = midwest_new['asian'] / midwest_new['total'] * 100
midwest_new['asian_rate'].plot.hist()

0       66090
1       10626
2       14991
3       30806
4        5836
        ...
432    304715
433     46104
434     19385
435    140320
436     73605
Name: total, Length: 437, dtype: int64

In [33]:
midwest_new['asian_rate'].mean()

0.48724618343573406

In [35]:
midwest_new['group'] = np.where(midwest_new['asian_rate'] > 0.4872, 'large', 'small')
midwest_new['group']

KeyError: 'asian_rate'